    <h1> CHAT CON SOCKET Y NORMALIZER </h1>
    <div style="padding: 25px" class="container">
            <div id="app_chat" class="">
                <div>
                    <p id="compression"></p>
                    <form id="form_data_user">
                        <div>
                            <input id="email_user" type="text" placeholder="Ingresa tu correo">
                            <input id="name_user" type="text" placeholder="Ingresa tu nombre">
                            <input id="surname_user" type="text" placeholder="Ingresa tu apellido">
                            <input id="edad_user" type="text" placeholder="Ingresa tu edad">
                            <input id="alias_user" type="text" placeholder="Ingresa tu alias">
                        </div>
                        <div class="michat">
                            <div>
                                <input id="inputtext" type="text" placeholder="Escribe aquí tu texto">

                                <p style="background-color: #e3e2e2;
                                    padding: 20px 30px;
                                    width: 100%;
                                    max-width: 500px;" id="contenedor"></p>
                            </div>
                        </div>
                    <input type="submit" name="" id=""> 
                    </form>
                </div>
           
        </div>
    </div>
